<section class="user-form">
    <h2>New user</h2>
    <form name="myUserForm">
        <section>
            <section>
                <label for="firstName">First name: </label>
                <input type="text" name="firstName" placeholder="first name">
            </section>
            <section>
                <label for="lastName">Last name:</label>
                <input type="text" name="lastName" placeholder="last name">
            </section>
        </section>
        <aside>
            <button class="btn">Spara</button>
            <button class="btn dng" id="cancel-new-user">Avbryt</button>
        </aside>
    </form>
</section>
