<section class="user-form">
    <h2>Edit user</h2>
    <form name="myUserForm">
        <section>
            <section>
                <label for="firstName">First name: </label>
                <input type="text" name="firstName" placeholder="first name" value="">
            </section>
            <section>
                <label for="lastName">Last name:</label>
                <input type="text" name="lastName" placeholder="last name" value="">
            </section>
        </section>
        <aside>
            <button class="btn">Spara</button>
            <button class="btn dng" id="cancel-edit-user">Avbryt</button>
        </aside>
    </form>
</section>
