
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato);


$orange: #ff6d3b;
$dark-orange: #e66235;
$turquoise: #21d8de;
$dark-turquoise: #21d8de;
$blue: #2a445e;
$dark-blue: #22364b;
$red: #ba2025;
$grey: #ccc;

$green: #B9F282;

$nav-height:100px;
$footer-height:200px;
/* ==========================================================================
  Typography
========================================================================== */

h1, h2, h3, h4, h5, a {
    font-family: 'Montserrat', sans-serif;
    color: $dark-blue;
}
body, html {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    height: 100%;
    word-break: normal;
    padding: 0;
    margin: 0;
}
textarea{
  padding: 0;
  margin: 0;
}
ul {
    list-style-type: none;
}
a, li a {
  color: $dark-blue;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  &:focus {
        outline: thin dotted;
  }
  &:active, &:hover {
       outline: 0;
  }
  &:hover, &:focus {
      color: $orange;
      text-decoration: none;
 }
  &:visited { text-decoration: none; }
  &:hover { text-decoration: none; }
  &:focus { text-decoration: none; }
  &.active{ color: $dark-orange; }
}
hr {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 1px;
  border-width: 0;
  background-color: $grey;
  .dark {}
  .light {}
}

.right{
  float:right
}
.btn {
    display: inline-block;
    padding: 5px 10px;
    color: #222;
    border: solid 1px $grey;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover, &:focus{
      color: $dark-turquoise;
      border: solid 1px $dark-turquoise;
    }
    &.dng{
      &:hover, &:focus{
        color: $red;
        border: solid 1px $red;
      }
    }
    &.hide{
      &:hover, &:focus{
        color: $dark-blue;
        border: solid 1px $dark-blue;
      }
    }
    &.search{
      &:hover, &:focus{
        color: $dark-orange;
        border: solid 1px $dark-orange;
      }
    }
}
input, textarea, select{
  padding: 5px 10px;
  color: #222;
  border: solid 1px $grey;
}
img {
  max-width: 100%;
  max-height: 100%;
}
span{
  &.stamp{
    color: $grey;
  }
  &.email{
    font-style: strong;
  }
  &.error{
    color: $dark-orange;
  }
}
